<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/aop 
			http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="envRuntime" class="com.home.maxwell.env.Environment">
		<property name="envType" ref="runtimeEnvType" />
	</bean>
	
	<bean id="runtimeEnvType" class="com.home.maxwell.env.EnvironType" factory-method="valueOf">
       <constructor-arg>
            <value>ENVIR_DE</value>
       </constructor-arg>
    </bean>

    <!-- 
    <bean id="ftpServer1Env" class="com.home.maxwell.env.FtpRuntime">
    	<property name="ftpServer" value="${ftp.server.1}" />
    </bean>
    
    <bean id="ftpServer2Env" class="com.home.maxwell.env.FtpRuntime">
    	<property name="ftpServer" value="${ftp.server.2}" />
    </bean>
     -->
</beans>    